@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
/* 200 ExtraLight */ /* 300 Light */ /* 400 Regular */ /* 500 Medium */ /* 600 SemiBold */ /* 700 Bold */

body, html {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  /*background-color: #6B7C93;*/
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.67);
  padding: 20px 50px 10px 50px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
h1 {
    color: #323232;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 28pt;
}

h2 {
    color: #323232;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24pt;
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 20pt;
    }
}

.logo img {
    margin-top: 5px;
    height: 50px;
    cursor: pointer;
}

.logo img {
    transition: transform 0.5s ease-in-out;
}

.logo img:hover {
  transform: scale(1.2);
}
.logo img:active{
  transform: scale(1.6);
}

nav {
  display: flex;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

nav a {
  text-decoration: none;
  color: #323232;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  position: relative;
}
nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00B33D;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
  transform: scaleX(1);
}
nav li:active {
    transform: scaleX(1.2);
}


footer {
    width: 100%;
    height: 70px;
    background: -webkit-linear-gradient(#00B33D, #023a14);
    /*border-radius: 50px 50px 0px 0px;*/
}

.footer_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

.footer_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.top_item {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #fafafa;
    margin-top: 50px;
}

.footer_word, .footer_greeting p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #fafafa;
    margin: 5px 0;
}

.footer_greeting a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #fafafa;
    text-decoration: none;
}

.footer_greeting i {
    font-size: 24px;
    margin-top: 5px;
    color: #fafafa;
}

.top_item {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #fafafa;
    margin-top: 50px;
}

.footer_word, .footer_greeting p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #fafafa;
    margin: 5px 0;
}

.footer_greeting a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #fafafa;
    text-decoration: none;
}

.footer_greeting i {
    font-size: 24px;
    margin-top: 5px;
    color: #fafafa;
}

.hidden-menu {
    opacity: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: opacity 0.5s ease-in-out;
}

.main-menu,
.hidden-menu {
  display: flex;
  align-items: center;
}

.main-menu li,
.hidden-menu li {
  margin: 0 15px;
}

.hidden-menu.active {
  opacity: 1;
  display: flex;
  align-items: center;
}
.menu-icon {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.menu-icon img {
  cursor: pointer;
  width: 40px;
  height: 30px;
}
.menu-icon:active {
  transform: scale(1.5);
}

.hidden-menu {
    display: none;
}


.content-wrapper {
    max-width: 100%;
    padding: 100px 50px 0px 50px;
    margin: 0 auto;
}

.content-banner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
    align-content: flex-start;
    margin-top: 10px;
}
.left-content-banner {
   opacity: 0;
   transform: translateY(100px);
   border-radius: 40px;
   /*border-top: 1px solid #000;*/
   border-left: 1px dashed #00B33D; /* Цвет и размер левой обводки */
   border-bottom: 3px dashed #00B33D;
   transition: opacity 0.7s ease, transform 0.7s ease;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-top: 5px;
}
.left-content-banner.appear {
    opacity: 1;
    transform: translateY(0);
}
.right-content-banner {
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
    border-radius: 40px;
}
.right-content-banner {
    opacity: 0;
    transform: translateY(1000px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.right-content-banner.appear {
    opacity: 1;
    transform: translateY(0);
}

.right-content-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    border-left: 2px solid #00B33D;
    border-top: 5px solid #00B33D;
    border-radius: 40px;
}

.floating_box {
    position: absolute;
    left: 54%;
    margin-top: 30px;
    z-index: 1;
    height: 160px;
    width: 210px;
    animation: floating_box 2s linear infinite;
}

.small-box2 {
    position: absolute;
    z-index: 2;
}

.small-box2 {
    animation: moveAndRotate 5s ease infinite;
}

@keyframes moveAndRotate {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-20px) rotate(-10deg);
    }
    50% {
        transform: translateY(-40px) rotate(10deg);
    }
    75% {
        transform: translateY(-20px) rotate(-10deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@media screen and (min-width: 1800px) {
    .right-content-banner {
        width: 1150px;
    }
}

.banner_h1_text {
    font-size: 20pt;
}

.banner_h2_text {
    font-size: 18pt;
}

.phone_banner_number {
    color: #00B33D;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    width: 190px;
    transition: color 0.3s, border-color 0.3s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
}
.phone_banner_number:hover {
  color: #323232;
  text-decoration: underline;
  text-decoration-color: #00B33D;
}
.banner_text_content {
  color: #323232;
  font-family: 'Oswald ExtraLight', sans-serif;
  font-size: 12pt;
  line-height: 24px;
}
.banner_text_content_green {
  color: #00B33D;
  font-family: 'Oswald ExtraLight', sans-serif;
  font-size: 14pt;

}
.button_field {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0px 0px 0px;
}
.recallme_button {
  --button_radius: 0.65em;
  --button_color: #e8e8e8;
  --button_outline_color: #00B33D;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0.1em 0.2em;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  cursor: pointer;
  text-decoration: none;
}
.feedback_button {
  --button_radius: 0.65em;
  --button_color: #e8e8e8;
  --button_outline_color: #00B33D;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0.1em 0.2em;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  cursor: pointer;
    text-decoration: none;
}
.button_top {
  font-family: 'Oswald ExtraLight', sans-serif;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.70em 0.9em;
  background: var(--button_color);
  color: #323232;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

/*///////////pop-up 1 /////////////*/

a:hover .button_top {
  transform: translateY(-0.33em);
}

a:active .button_top {
  transform: translateY(0);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  z-index: 1000;
}
/*.overlay:target {*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*}*/

.popup {
  margin: 0 auto; /* Изменено */
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: center; /* Добавлено */
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

input {
	appearance: none;
	border-radius: 0;
}

.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: .75rem;
}

.card-image {
  /*width: 100%;*/
  /*height: 0;*/
  /*padding-bottom: 65%;*/
  /*background-image: url('images/image-from-rawpixel-id-2304968-jpeg.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  border-radius: 40px;
  margin-bottom: 15px;
}
.card-image img{
    /*border: 3px solid;*/
    /*border-color: #323232;*/
    border-radius: 40px;
}

.card-heading {
    font-family: 'Oswald ExtraLight', sans-serif;
  position: absolute;
  left: 10%;
  top: 8%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
    font-family: "Oswald", sans-serif;
    width: 300px;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font-family: "Oswald", sans-serif;
    font-size: 1.125rem;
    padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #00B33D;
		&+.input-label {
			color: #00B33D;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 2rem;
}

.action-button {
    font-family: 'Oswald ExtraLight', sans-serif;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 800;
    margin-top: 10px;
    background-color: #00B33D;
    border-radius: 20px;
    color: #FFF;
    border: 2px solid #00B33D;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
	&:focus {
		outline: 0;
	}
}
.action-button:hover,
.action-button2:hover {
    background-color: #fff;
    border: 2px solid #00B33D;
    color: #222222;
}

.card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
    color: #8597a3;
	a {
		display: block;
		color: #00B33D;
		text-decoration: none;
	}
}

.input-field:focus + .input-label,
.input-field:valid + .input-label {
  transform: translateY(-1.5rem);
  color: #00B33D;
}




/*////////////////////////*/


/*///////////pop-up 2 /////////////*/


.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  z-index: 1000;
}
/*.overlay:target {*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*}*/

.popup2 {
  margin: 0 auto; /* Изменено */
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: center; /* Добавлено */
}

.popup2 h2 {
  top: -50px;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 20px;
}
.popup2 .close2 {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close2:hover {
  color: #06D85F;
}
.popup2 .content {
  max-height: 30%;
  overflow: auto;
}

input {
	appearance: none;
	border-radius: 0;
}

.card2 {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: .75rem;

}

.card-image2 {
  /*width: 100%;*/
  /*height: 0;*/
  /*padding-bottom: 65%;*/
  /*background-image: url('images/image-from-rawpixel-id-2304968-jpeg.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 40px;
  margin-bottom: 15px;
  top: 10px;
}
.card-image2 img{
    /*border: 3px solid;*/
    /*border-color: #323232;*/
    border-radius: 40px;
}

.card-heading2 {
    font-family: 'Oswald ExtraLight', sans-serif;
  position: absolute;
  left: 10%;
  top: 8%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}

.card-form2 {
	padding: 2rem 1rem 0;
}

.input2 {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
    font-family: "Oswald", sans-serif;
    width: 300px;
	&+.input2 {
		margin-top: 1.5rem;
	}
}

.input-label2 {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field2 {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font-family: "Oswald", sans-serif;
    font-size: 1.125rem;
    padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #00B33D;
		&+.input-label2 {
			color: #00B33D;
			transform: translateY(-1.5rem);
		}
	}
}

/*.input-field2 textarea{*/
/*}*/

.action2 {
	margin-top: 2rem;
}

.action-button2 {
    font-family: 'Oswald ExtraLight', sans-serif;
    margin-top: 20px;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 800;
    background-color: #00B33D;
    border-radius: 20px;
    color: #FFF;
    border: 2px solid #00B33D;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
	&:focus {
		outline: 0;
	}
}



.input-field2:focus + .input-label2,
.input-field2:valid + .input-label2 {
  transform: translateY(-1.5rem);
  color: #00B33D;
}




/*////////////////////////*/



/*Кнопка звонка*/

.callback-bt {
    background: #00B33D;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    border: 2px solid transparent;
    display: block;
    height: 75px;
    width: 75px;
    text-align: center;
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 999;
    transition: .3s ease-in-out;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
}

.callback-bt:hover {
    background: #fff;
    border: 2px solid #00B33D;
}

.callback-bt .text-call {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
}

.callback-bt .text-call:after {
    content: "\f095";
    display: block;
    font-family: fontawesome;
    color: #fff;
    font-size: 38px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    opacity: 1;
    transition: .3s ease-in-out;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
}

.callback-bt .text-call:hover:after {
    opacity: 0;
}

.callback-bt .text-call span {
    color: #00B33D;
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
}

@keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }

    40% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }

    80% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
    }

    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
}

/* animations icon */

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }

    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }

    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }

    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }

    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }

    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }

    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }

    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

/*//////////*/

.content-grid-block {
  padding: 100px 0px 0px 0px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 1200px; /* Вы можете задать нужную ширину сетки */
  height: 400px;
  margin: 0 auto; /* Для центрирования */
}

.grid-item {
  border: 2px solid #00B33D;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  align-content: center;
  cursor: default;
  transition: transform 0.2s;
}
.grid-item:hover {
  transform: scale(1.1);
  animation: pulse__grid 1.5s infinite;
}
@keyframes pulse__grid {
  0% {
    box-shadow: 0 0 0 rgba(0, 179, 61, 0.4);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(0, 179, 61, 0.1);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 179, 61, 0.4);
  }
}
.green-icon {
  color: #00B33D;
}
.content-grid-h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 16pt;
}
.content-grid-h2 {
  color: #323232;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14pt;
}

.stages_wrapper{
  margin-top: 200px;
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
    flex-direction: column;
    justify-content: center;
}

.stages_title {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 28pt;
}

@media screen and (max-width: 1440px) {
    .stages_h2_title {
        font-size: 24pt;
    }
}

.stages_h2_title {
    font-weight: 300;
}

.progress-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  /*margin-right: 300px;*/
  padding: 100px 0px 0px 0px;
  width: 800px;
}

.step {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-bottom: 240px;
  z-index: 2;

}

.step-label {
  position: absolute;
  display: flex;
  margin-right: 700px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24pt;
  color: #323232;
  width: 360px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.step-number {
  font-family: "Oswald", sans-serif;
  font-size: 24pt;
  font-weight: 600;
  color: #fafafa;
}
.line {
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: height 0.5s ease;
  z-index: 1;
  border-left: 2px dashed #ccc;
}


.active_step {
  background-color: #00B33D;
  animation: pulse__grid 2s infinite;
}

.stage-content {
  position: absolute;
  padding-left: 200px;
}
.step-text-block {
  position: absolute;
  display: flex;
  margin-left: 900px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24pt;
  color: #323232;
  width: 560px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  color: #323232;
  margin-top: 80px;
}
.step-text-info {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16pt;
}
.steps_form_container {
  display: flex;
  flex-direction: column;
}

.Empty_block {
  height: 1000px;
  background-color: #00B33D;
}

.step_recall_button {
  --button_radius: 0.65em;
  --button_color: #e8e8e8;
  --button_outline_color: #00B33D;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0.1em 0.2em;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  cursor: pointer;
}
.step_recall_button_s {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.70em 0.9em;
  background: var(--button_color);
  color: #323232;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
button:hover .step_recall_button_s {
  transform: translateY(-0.33em);
}

button:active .step_recall_button_s {
  transform: translateY(0);
}

.tarif_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.grid-container_t {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 80px);
    gap: 20px; /* Пространство между ячейками */
    /*height: 500px; !* Высота блока *!*/
    /*border: 1px solid #000;*/
    padding: 10px;
    margin-top: 50px;
  }

.grid-item_t {
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.grid_title_header {
  font-family: "Oswald", sans-serif;
  font-size: 18pt;
  font-weight: 600;
  color: #323232;
}
.grid_title_header_sub {
  background-color: #00B33D;
  font-family: "Oswald", sans-serif;
  font-size: 18pt;
  font-weight: 600;
  color: #fafafa;
}

.grid_item_text {
  font-family: "Oswald", sans-serif;
  font-size: 15pt;
  font-weight: 300;
  color: #323232;
}
.none_circle {
  color: #323232;
  background: linear-gradient(#b4b4b4, #6e6e6e);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-shadow: 0 0px 2px 8px rgba(61, 61, 61, 0.1);
}
.yes_circle {
  color: #00B33D;
  background: linear-gradient(180deg, #0cf35b 0%, #00B33D 100%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  /*box-shadow: 0 0px 2px 8px rgb(7, 176, 65, 0.2);*/
  animation: pulse__grid 2s infinite;
}

.recallme_button_grid_d {
  margin-top: 40px;
    --button_radius: 0.65em;
    --button_color: #e8e8e8;
    --button_outline_color: #00B33D;
    font-size: 22px;
    font-weight: bold;
    border: none;
    padding: 0.1em 0.2em;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    cursor: pointer;
    text-decoration: none;
}
.button_top_grid {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.70em 0.9em;
  background: var(--button_color);
  color: #323232;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top_grid {
  transform: translateY(-0.33em);
}

button:active .button_top_grid {
  transform: translateY(0);
}
.stages_h2_title {
    font-family: "Oswald", sans-serif;
    font-size: 20pt;
    font-weight: 200;
    color: #323232;
}

@media screen and (max-width: 1440px) {
    .stages_h2_title {
        font-size: 12pt;
    }
}

.about-comp_wrapper{
  padding: 50px;
  display: block;
}

.about-comp-container{
  display: flex;
  flex-direction: column;
  /*background: rgb(0,179,61);*/
  background: linear-gradient(180deg, #52B250 0%, #357234 100%);
  border-radius: 40px;
  padding: 50px;
}

.about-comp-title{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fafafa;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 60px;
}
/*.about-comp-cards{*/

/*  display: flex;*/
/*  !*flex-wrap: wrap;*!*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  padding: 0 30px 0 30px;*/
/*  !*padding: 20px 20px 20px 20px;*!*/
/*  !*align-content: space-between;*!*/
/*}*/

.about-comp-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*.about-comp-cards-up{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-evenly;*/
/*  margin-bottom: 50px;*/
/*}*/

/*.about-comp-cards-down{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-around;*/
/*}*/

.center-input-cards{
  /*position: relative;*/
  /*!*top: 50%;*!*/
  /*left: 50%;*/
  /*transform: translate(-50%);*/
  margin: auto;
}

.about-comp-card-txt{
  background-color: #fafafa;
  /*border-width: 5px;*/
  text-align: center;
  border-radius: 40px;
  /*position: absolute;*/
  width: 250px;
  height: 250px;
  /*margin: 20px;*/
  margin-bottom: 50px;
  /*padding: 20px 0 0 0;*/
  /*vertical-align: center;*/

}
.about-comp-card-img{
  display: flex;
  background-color: transparent;
  border-radius: 40px;
  width: 500px;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*margin: 20px;*/
  /*background-image: url('images/pexels-ketut-subiyanto-4246118.jpg');*/
}

.about-comp-card-img img{
  /*border:2px solid;*/
  /*border-color: #fafafa;*/
  width: 30vw;
  border-radius: 40px;
  /*box-shadow: 0px 0px 25px  #fafafa;*/
}

.int-about-card{
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 200;
    /*font-size: 72px;*/
  background: -webkit-linear-gradient(#52B250, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  /*position: absolute;*/
}

.txt-about-card{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  /*padding-top: 20px;*/
  padding: 10px 10px 0 10px;
}
.why_us_section {
  margin-top: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.content-grid-block-downst {
  padding: 50px 0px 0px 0px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 1300px;
  height: 440px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.grid-item-wh {
  /*border: 2px dashed #00B33D;*/
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  cursor: default;
  transition: transform 0.2s;
}
.grid-item-wh:hover {
  transform: scale(1.1);
  animation: pulse__grid_d 1.5s linear infinite;
}
@keyframes pulse__grid_d {
    0% {
        box-shadow: 0 0 0 rgba(0, 179, 61, 0.4);
    }
    50% {
        box-shadow: 0 0 30px 20px rgba(0, 179, 61, 0.1);
    }
    100% {
        box-shadow: 0 5px 1px rgba(0, 179, 61, 0.4);
    }
}

.slider_main_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 150px;
}

.slider_wrap {
    display: flex;
    max-width: 1200px;
    position: relative;
}

.slider_wrap i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.slider_wrap i:active {
    transform: translateY(-50%) scale(0.9);
}

.slider_wrap i:hover {
    background: #f2f2f2;
}

.slider_wrap i:first-child {
    left: -22px;
    display: none;
}

.slider_wrap i:last-child {
    right: -22px;
}

.slider_wrap .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex;
    gap: 50px;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: auto;
    width: auto;
    max-height: 340px;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}


.down_info_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.down_info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.down_info_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.phone_us,
.address_us,
.mail_us {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #00B33D;
    margin: 5px 0;
}

.work_time {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: #222222;
    margin: 5px 0;
}

.phone_us:hover {
    text-decoration: underline #00B33D;
    color: #222222;
}

.address_us:hover {
    text-decoration: underline #00B33D;
    color: #222222;
}

.mail_us:hover {
    text-decoration: underline #00B33D;
    color: #222222;
}


.calculator_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}

.calc_wrapper_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*width: 1200px;*/
    border: 1px solid #00B33D;
    height: 520px;
    border-radius: 40px;
    z-index: 10;
    background: #fafafa;
    position: relative;
    margin-top: 50px;
}

.form_calc input {
    font-family: "Oswald", sans-serif;
    font-size: 14pt;
}

.calc_prefix {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    justify-content: center;
    font-size: 18pt;
    font-weight: 300;
    color: #fafafa;
    padding-top: 20px;
    background-color: #00B33D;
    width: 100%;
    border-radius: 38px 38px 0px 0px;
}

.calc_inputs {
    padding-top: 30px;
    position: relative;
}

.calc_input:focus,
.calc_input_trio:focus {
    border-color: 1px solid #00B33D;
    outline-color: #00B33D;
}

.calc_input {
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: 1px solid #023a14;
    /*color: #878787;*/
}

.calc_input_trio {
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: 1px solid #023a14;
}

.form_calc {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.calc_inputs label {
    font-family: "Oswald", sans-serif;
    font-size: 14pt;
    color: #222222;
    padding-right: 10px;
}

.calc_get_price {
    --button_radius: 0.65em;
    --button_color: #e8e8e8;
    --button_outline_color: #00B33D;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0.1em 0.2em;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    cursor: pointer;
    margin-top: 40px;
    width: 250px;
}

.calc_get_price_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.70em 0.9em;
    background: var(--button_color);
    color: #323232;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .calc_get_price_top {
    transform: translateY(-0.33em);
}

button:active .calc_get_price_top {
    transform: translateY(0);
}

.output_calc_down {
    position: relative;
    z-index: 1;
    border: 1px solid #00B33D;
    height: 1250px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
}

.split_line {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #00B33D;*/
    /*gap: 10px;*/
}

.split_line_title {
    flex: 1;
    height: 100%;
    /*background: #00B33D;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Oswald", sans-serif;

}

.overwhited {
    font-size: 20pt;
    color: #222222;
    border-left: 1px solid #00B33D;
}

.overgreened {
    font-size: 20pt;
    background: #00B33D;
    color: #fafafa;
    width: 350px;
}

.overnothing {
}

.first_row {
    display: flex;
    align-items: stretch;
    /*gap: 10px;*/
    /*background: #00B33D;*/
    width: 100%;
}

.info_column, .price_column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #00B33D;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 22pt;
    text-align: center;
}

.text_column_info, .column_price {
    border: 1px solid #00B33D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: "Oswald", sans-serif;
    font-size: 18pt;
    color: #222222;
}

.back_white {
    background: #fafafa;
    color: #222222;
}

.secret_border {
    border-radius: 0px 0px 40px 0px;
}

.secret_border_left {
    border-radius: 0px 0px 00px 40px;
    border-left: 1px solid #00B33D;
}

.calc_info_plette {
    padding: 50px 0px 0px 0px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 1300px;
    height: 440px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.calc_info_cel {
    border: 1px dashed #00B33D;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    cursor: default;
    transition: transform 0.2s;
}

.calc_info_cel:hover {
    transform: scale(1.1);
    animation: pulse__grid_d 1.5s linear infinite;
}

.animated-box {
    width: 100px;
    height: 100px;
    position: absolute;
}

#box1 {
    margin-top: 320px;
    margin-right: 800px;
    transform: rotate(15deg);
    animation: floatingAnimation1 4s ease-in-out infinite;
}

#box2 {
    margin-top: 250px;
    margin-left: 870px;
    transform: rotate(-15deg);
    animation: floatingAnimation2 4s ease-in-out infinite;
}

@keyframes floatingAnimation1 {
    0%, 100% {
        transform: translate(0, 0) rotate(10deg);
    }
    50% {
        transform: translate(0, -20px) rotate(15deg);
    }
}

@keyframes floatingAnimation2 {
    0%, 100% {
        transform: translate(0, 0) rotate(-15deg);
    }
    50% {
        transform: translate(0, -30px) rotate(-10deg);
    }
}


.privacy_wrapper {
    max-width: 100%;
}

.banner-elemnt-privacy {
    height: 600px;
    background: #1E1F22;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title_wrapper {
    margin: 50px auto 0;
}

.subtext_wrapper {
    padding: 20px;
}

.subtext {
    margin: 0;
    padding-left: 200px;
    font-family: "Oswald", sans-serif;
    font-size: 18pt;
    color: #222222;
    font-weight: 500;
    padding-bottom: 30px;
}

.subtext_2 {
    margin: 0;
    padding-left: 200px;
    font-family: "Oswald", sans-serif;
    font-size: 16pt;
    color: #222222;
    font-weight: 400;
    padding-bottom: 30px;
}

.subtext_3 {
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
    font-family: "Oswald", sans-serif;
    font-size: 14pt;
    color: #313131;
    font-weight: 300;
    padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #00b33d #fafafa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #fafafa;
}

*::-webkit-scrollbar-thumb {
    background-color: #00b33d;
    border-radius: 9px;
    border: 1px solid #fafafa;
}